.cart-wrapper {
    padding-top: 40px
}

.recent-products-widget * {
  max-width: 100% !important;
  max-height: unset !important;
}

.recent-products-widget {
  border-top: 1px solid #ccc;
  padding: 3rem;
  width: 100%;
  box-sizing: border-box;
}

.recent-products-widget select {
  margin: 0 0.5rem;
  padding: 0.25rem;
}

.widget-header {
  text-align: left;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 1rem !important;
  text-align: center;
  border-radius: 8px;
}

.product-card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
}

.product-card img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease !important;
  object-fit: contain;
  max-height: 180px;
}

.product-card:hover img {
  transform: scale(1.05) !important;
}

.product-card a {
  text-decoration: none;
}

.product-card h3 {
  color: #000 !important;
  font-size: 16px !important;
  line-height: 1.4 !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  margin: 0.5rem 0 !important;
  transition: color 0.2s ease !important;
}

.product-card h3:hover {
  color: #235a9b !important;
}

.product-card p {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin: 0.5rem 0;
}

#buy-now {
  margin-top: auto !important;
  height: 35px;
  border-radius: 5px;
  background-color: black !important;
  color: white;
  border: 1px solid black;
  font-weight: 500;
}

#buy-now:hover {
  cursor: pointer;
  background-color: white !important;
  color: black;
  transition: 0.5s !important;
}

.ec-cart {
  flex-wrap:wrap
}

.ecwid-productBrowser-innerTable {
  display: none !important;
}

.ec-cart--empty {
  max-width: unset !important;
}